// ============================================================================
// Tune-css MonospaceFont Partial
// ============================================================================

/**
 * ----------------------------------------------------------------------------
 * Normalize.css
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 * @link http://code.stephenmorley.org/html-and-css/fixing-browsers-broken-monospace-font-handling/
 * ----------------------------------------------------------------------------
 * 3. ALlow developer to customize the monospace font-family used.
 * 4. Allow developer to customize the monospace font-size used.
 * 5. Allow developer to further customize elements that default to 'monospace'
 */

@import "tune/helpers/setting";
@import "tune/helpers/support";
@import "tune/helpers/length";
@import "tune/helpers/typography";

%tune-monospace-font
{
  $monospace-family: tune-setting('monospace-font-family', monospace);
  $monospace-font-size: tune-setting('monospace-font-size');

  @include tune-monospace-family($monospace-family); /* [1, 3] */
  @if tune-supports('ie' 6) and $monospace-family == monospace {
    _font-family: 'courier new', monospace; /* [1] */
  }

  font-size: tune-length($monospace-font-size, 'em'); /* [2, 4] */
  
  @if mixin-exists('tune-monospace') {
    @include tune-monospace; /* [5] */
  }
}
