# Compiled files
dist/css/*

# Play around during development
stylesheets/_play.scss

# Project Dependencies
node_modules
bower_components

# Log files
npm-debug.log

# Exclude hidden OS files.
.DS_Store
._*
Thumbs.db

# Exclude IDE management files.
# Eclipse
.project
.settings
.buildpath
# Netbeans
netbeans
nbproject
# Komodo
*.kpf
# WebStorm
.idea
