/**
 * = Tune-css Embedded
 * ============================================================================
 */

@import "tune/helpers/setting";
@import "tune/helpers/support";

@if tune-supports('ie' 10)
{
  /**
   * ----------------------------------------------------------------------------
   * Normalize.css
   * 1. Remove the border on images inside links in IE <11.
   * 2. Improve image quality when scaled in IE 7.
   * ----------------------------------------------------------------------------
   */

  img {
    border-style: none; /* [1] */
    @if tune-supports('ie' 7) {
      -ms-interpolation-mode: bicubic; /* [2] */
    }
  }
}

@if tune-supports('ie')
{
  /**
   * ----------------------------------------------------------------------------
   * Normalize.css
   * 1. Hide the overflow in IE.
   * ----------------------------------------------------------------------------
   */

  svg:not(:root) {
    overflow: hidden; /* [1] */
  }
}

// Apply styles for contained objects
// ----------------------------------

@import "partials/contained-objects";

@if tune-setting('contained-embeds')
{
  img,
  iframe, 
  svg
  { 
    @extend %tune-contained-objects;
  }
}

// Apply styles for baseline objects
// ---------------------------------

@import "tune/partials/baseline-objects";

@if tune-setting('baseline-objects')
{
  iframe,
  img,
  svg
  {
    @extend %tune-baseline-object;
  }
}

