/**
 * = Tune-css Headings
 * ============================================================================
 */

@import "tune/helpers/support";
@import "tune/helpers/setting";
@import "tune/helpers/typography";
@import "tune/helpers/hook";

@import "tune/partials/vertical-rhythm";

@if tune-setting('heading-font-family')
  or tune-setting('heading-font-weight')
  or tune-setting('heading-text-rendering')
{
  /**
   * ----------------------------------------------------------------------------
   * Tune.css
   * 1. Activates ligatures and kerning on headings
   * 2. Allow developer to customize 'h1-6' font-family, font-weight and
   *    text-rendering.
   * 3. Allow develiper to further customize 'h1-6'
   * ----------------------------------------------------------------------------
   */

  h1, h2, h3, h4, h5, h6
  {
    font-family: tune-setting('heading-font-family'); /* [2] */
    font-weight: tune-setting('heading-font-weight'); /* [2] */
    text-rendering: tune-setting('heading-text-rendering', optimizeLegibility); /* [1, 2] */

    @if tune-setting('vertical-rhythm') {
      @extend %tune-vertical-rhythm;
    }

    @if tune-has-hook('heading') {
      @include tune-heading; /* [3] */
    }
  }
}

@if tune-supports('chrome', 'firefox', 'safari')
  or tune-supports('ie' 6, 'ie' 7)
{

/**
 * ----------------------------------------------------------------------------
 * Normalize.css
 * 1. Correct the font size and margin on `h1` elements within `section` and
 *    `article` contexts in Chrome, Firefox, and Safari.
 * 2. Address font sizes and margins set differently in IE 6/7.
 * ----------------------------------------------------------------------------
 * Tune.css
 * 3. Allow developer to customize 'h1' - 'h6' font-sizes and line-heights
 * 4. Allow developer to customize 'h1' - 'h6' default margins
 * 5. Create '.h1' - '.h6' classnames to decouple from the html 'h*' hierarchy 
 * ----------------------------------------------------------------------------
 */

  h1
  {
    $h1-font-size: tune-setting('h1-font-size');
    $h1-line-height: tune-setting('h1-line-height');
    @include tune-typescale($h1-font-size, $h1-line-height); /* [1, 2, 3] */

    @if not tune-setting('vertical-rhythm') {
      $h1-vertical-margin: tune-setting('h1-vertical-margin', 0.67em);
      @include tune-vertical-margin($h1-vertical-margin, 'em', $h1-font-size); /* [4] */
    }
  }
}

@if tune-setting('typeset-headings') or tune-supports('ie' 6, 'ie' 7)
{
  @for $i from 2 through 6
  {
    h#{$i}
    {
      $font-size: tune-setting('h#{$i}-font-size');
      $line-height: tune-setting('h#{$i}-line-height');
      @include tune-typescale($font-size, $line-height); /* [2, 3] */

      @if not tune-setting('vertical-rhythm') {
        $vertical-margin: tune-setting('h#{$i}-vertical-margin');
        @include tune-vertical-margin($vertical-margin, 'em', $font-size);
      }
    }
  }
}

@if tune-setting('heading-classnames')
{
  .h1 /* [5] */ { @extend h1; }
  .h2 /* [5] */ { @extend h2; }
  .h3 /* [5] */ { @extend h3; }
  .h4 /* [5] */ { @extend h4; }
  .h5 /* [5] */ { @extend h5; }
  .h6 /* [5] */ { @extend h6; }
}