/**
 * = Tune-css Links
 * ============================================================================
 */

@import "tune/helpers/setting";
@import "tune/helpers/hook";

/**
 * ----------------------------------------------------------------------------
 * Normalize.css
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 * 3. Remove the outline on focused links when they are also active or hovered
 *    in all browsers (opinionated).
 * ----------------------------------------------------------------------------
 * Tune-css
 * 4. ALlow developer to customize outline of focused, hovered and active links
 * 5. Allow developer to further customize default link styles
 */

// @Todo: test if setting background color in ':focus' pseudo-class also
// fixes background-color when link is focused in IE

a
{
  -webkit-text-decoration-skip: objects; /* [2] */

  &:focus {
    background: tune-setting('link-background-focus', transparent); /* [1, 4] */
    outline: tune-setting('link-outline-focus'); /* [4] */
  }

  &:active,
  &:hover {
    outline: tune-setting('link-outline-focus-active', 0); /* [3, 4] */
  }

  @if tune-has-hook('tune-links') {
    @include tune-links(); /* [5] */
  }
}