// ============================================================================
// = Tune-css Settings
// ============================================================================

// Common Settings
// ----------------------------------------------------------------------------
// usually also found in other Sass libraries

// Normalize default font-family across browsers
$base-font-family: 'sans-serif' !default;

// Font-size to set on the 'body' element
// - used to calculate 'em' values
$base-font-size: 16px !default;

// Font-size to set on the 'html' element
// - used to calculate 'rem' values
$root-font-size: $base-font-size !default;

// Line-height to set on the 'body' element
$base-line-height: 24px !default;

// Background-color to set on the 'html' element
// - override user default background color
$base-background-color: #fff !default;

// Color to set on the 'html' element
// - override user default text color
$base-text-color: #000 !default;

// Tune-css Settings
// ----------------------------------------------------------------------------
// Specific to Tune.css

$tune-unit-functions: () !default;

$tune-settings: (
  // Customize how mobile browsers adjust text size. Used to disable text size
  // adjustments on orientation change.
  // @link https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust
  // - 'auto' or 'null' for default behaviour
  // - '<percentage>' to set custom inflation amount
  // - 'none' to disable inflation (tune-css will fix webkit bug)
  // @default none
  'text-inflation': none,

  // Customize background of active links. Used to remove background on focused
  // links in IE 10.
  // @default transparent
  'link-background-active': transparent,

  // Customize outline applied to focused links [null].
  // @default null
  'link-outline-focus': null,

  // Customize outline of active and hovered links. Used to remove outline on
  // focused links when also active or hovered.
  // @default 0
  'link-outline-focus-active': 0,

  // Customize text-decoration applied on 'abbr[title]' elements. Accepts CSS3
  // text-decoration shorthands, but 'text-decoration-line' MUST be specified,
  // and in first position as it will be used as fallback.
  // Used for normalization.
  // @default underline dotted
  'abbr-title-text-decoration': underline dotted,

  // Customize font-weight used on 'b' and 'strong' elements. Used for
  // normalization.
  // @default bolder
  'strong-font-weight': bolder,

  // Customize font-family used on elements defaulting to monospace font.
  // Used to prevent browsers from resizing default monospace fonts.
  // @default monospace
  'monospace-font-family': monospace,

  // Customize font-size used on elements defaulting to monospace font.
  // Used to prevent browsers from resizing default monospace fonts.
  // @default $base-font-size
  'monospace-font-size': $base-font-size,

  // Customize the font-style applied 'dfn' elements. Used for normalization.
  // @default italic
  'dfn-font-style': italic,

  // Customize the background applied to 'mark' elements. Used for
  // normalization.
  // @default #ff0
  'mark-background': #ff0,

  // Customize the color applied to 'mark' elements. Used for normalization.
  // @default #000
  'mark-color': #000,

  // Customize the font-size applied to 'small' elements by default. Used for
  // normalization.
  // @default 80%
  'small-font-size': 80%,

  // Customize the font-size applied to 'sub' and 'sup' elements by default.
  // Used for normalization.
  // @default 75%
  'sub-sup-font-size': 75%,

  // Whether to remove 'top' margins and set 'bottom' margins only on
  // headings and block-level grouping elements.
  // @link http://csswizardry.com/2012/06/single-direction-margin-declarations/
  // @default true
  'single-direction-margins': true,

  // Whether to use vertical rhythm for margins on heading and block-level
  // grouping elements
  // @default true
  'vertical-rhythm': true,

  // What value to use for vertical rhythm margins on heading and block-level
  // grouping elements
  // @default $base-line-height
  "vertical-rhtyhm-margin": $base-line-height,

  // Customize the font-family applied to 'h1-h6' elements by default.
  // @default null
  'heading-font-family': null,

  // Customize the font-weight applied to 'h1-h6' elements by default.
  // @default null
  'heading-font-weight': null,
  
  // Customize the font-weight applied to 'h1-h6' elements by default.
  // @default optimizeLegibility
  'heading-text-rendering': optimizeLegibility,

  // Whether to include font-size, line-height and margin styles for headings
  // @default true
  'typeset-headings': false,

  // Customize font-size, line-height and margin for 'h1' element
  // @default 2em null 0.67em
  'h1-font-size': 2 * $base-font-size,
  'h1-line-height': null,
  'h1-vertical-margin': 21.440px,

  // Customize font-size, line-height and margin for 'h2' element
  // @default 1.5em null 0.83em
  'h2-font-size': 1.5 * $base-font-size,
  'h2-line-height': null,
  'h2-vertical-margin': 19.920px,

  // Customize font-size, line-height and margin for 'h3' element
  // @default 1.17em null 1em
  'h3-font-size': 1.17 * $base-font-size,
  'h3-line-height': null,
  'h3-vertical-margin': 18.720px,

  // Customize font-size, line-height and margin for 'h4' element
  // @default 1em null 1.33em
  'h4-font-size': 1 * $base-font-size,
  'h4-line-height': null,
  'h4-vertical-margin': 21.280px,

  // Customize font-size, line-height and margin for 'h5' element
  // @default 0.83em null 1.67em
  'h5-font-size': 0.83 * $base-font-size,
  'h5-line-height': null,
  'h5-vertical-margin': 22.178px,

  // Customize font-size, line-height and margin for 'h6' element
  // @default 0.83em null 1.67em
  'h6-font-size': 0.67 * $base-font-size,
  'h6-line-height': null,
  'h6-vertical-margin': 24.978px,

  // Whether to output '.h1-6' classnames to alias heading styles and
  // decouple them from the html's 'h*' hierarchy
  // @default true
  'heading-classnames': true,
);