/**
 * =H5bp BrowserUpgrade Prompt
 * ============================================================================
 * H5bp provides an html prompt that should be shown in unsupported browsers
 */

.browserupgrade
{
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}