// ============================================================================
// = Tune-css Settings
// ============================================================================

// Common Settings
// ----------------------------------------------------------------------------
// usually also found in other Sass libraries

// Normalize default font-family across browsers
$base-font-family: 'sans-serif' !default;

// Font-size to set on the 'body' element
// - used to calculate 'em' values
$base-font-size: 16px !default;

// Font-size to set on the 'html' element
// - used to calculate 'rem' values
$root-font-size: $base-font-size !default;

// Line-height to set on the 'body' element
$base-line-height: 24px !default;

// Background-color to set on the 'html' element
// - override user default background color
$base-background-color: #fff !default;

// Color to set on the 'html' element
// - override user default text color
$base-text-color: #000 !default;

// Tune-css Settings
// ----------------------------------------------------------------------------
// Specific to Tune.css

$tune-settings: (
  // Customize how mobile browsers adjust text size. Used to disable text size
  // adjustments on orientation change. [none]
  // @link https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust
  // - 'auto' or 'null' for default behaviour
  // - '<percentage>' to set custom inflation amount
  // - 'none' to disable inflation (tune-css will fix webkit bug)
  'text-inflation': none,

  // Customize background of active links. Used to remove background on focused
  // links in IE 10. [transparent]
  'link-background-active': transparent,

  // Customize outline of focused links [null]
  'link-outline-focus': null,

  // Customize outline of active and hovered links. Used to remove outline on
  // focused links when also active or hovered. [0]
  'link-outline-focus-active': 0,
);