// ============================================================================
// Tune-css Typography Mixins
// ============================================================================

@import "tune/helpers/supports";
@import "tune/helpers/typography";

/// tune-monospace-family( $family )
/// ---------------------------------------------------------------------------
/// Includes monospace font-family. Adds 'monospace' to the given font-family
/// to avoid font resizing by all major browsers.
// @link http://code.stephenmorley.org/html-and-css/fixing-browsers-broken-monospace-font-handling/

@mixin tune-monospace-family( $family )
{
  font-face: tune-monospace-family($family);
}

/// tune-text-decoration( $decoration )
/// ---------------------------------------------------------------------------
/// Includes text-decoration. Includes 'text-decoration-line' fallback for
/// browsers not supporting the 'text-decoration' shorthand.
/// @link http://caniuse.com/#feat=text-decoration

@mixin tune-text-decoration( $decoration ) 
{
  // if using shorthand for browsers not supporting it
  @if tune-supports('chrome', 'edge', 'ie', 'opera', 'safari', 'firefox' 5, 'safari' 6)
    and length($decoration >= 2)
  {
    // Include first 'text-decoration-line' value as fallback
    text-decoration: nth($decoration, 1);
  }

  text-decoration: $decoration;
}